* {
  margin:0;
  padding:0;
}
.new_login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(250, 219, 242, 0.295);
}
.new_login .header_1 {
  margin-right: 10%;
  font-size: 9rem;
  color: rgba(74, 123, 214, 0.753);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.new_login .login_page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 30rem;
  border: 2px solid grey;
  background-color: rgb(62, 50, 68);
}
.new_login .login_page .input {
  margin: 1rem 1rem 1rem 1rem;
  width: 15rem;
  height: 1rem;
  padding: 4px 4px 4px 4px;
  border: rgb(0, 204, 255);
  outline: none;
}
.new_login .login_page .btn {
  width: 4rem;
  height: 30px;
  background-color: rgb(67, 72, 73);
  border-radius: 2px;
  border-color: rgb(203, 212, 214);
  text-shadow: 2px solid whitesmoke;
  border: none;
  color: #fff;
  margin: 1rem 0 1rem 0;
  font-weight: 550;
}
.new_login .login_page .button {
  width: 8rem;
}
.new_login .login_page .input3 {
  margin: 1rem 0 1rem 0;
  outline: none;
  width: 12rem;
  height: 2rem;
  padding: 4px 4px 4px 4px;
  color: #fff;
  font-weight: 580;
  border: none;
  background-color: rgb(67, 72, 73);
  border-radius: 2px;
  /* text-shadow: 10px solid rgb(168, 201, 168); */
}
.new_login .login_page .header {
  font-size: 15px;
  font-weight: normal;
  color: cornsilk;
}
.btn {
  width: 8rem;
  height: 39px;
  background-color: rgb(67, 72, 73);
  border-radius: 2px;
  border-color: rgb(203, 212, 214);
  text-shadow: 2px solid whitesmoke;
  border: none;
  color: #fff;
  margin: 1rem .5rem 1rem .5rem;
  font-weight: 550;
}
