*{
    margin: 0;
    padding: 0;
}

.container1{
    list-style-type: none;
    background-color: rgb(85, 192, 241);
    display:grid;
    grid-template-columns:10rem 1fr 1fr 1fr 10rem;
    grid-template-rows: 50px; 
}
.container1 .header{
    margin-left: 2rem;
    margin-top: 3px;
    display: grid;
    grid-column: 1/5;
    color: whitesmoke;
}
.container1 .list{
margin-top: 1rem;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr ;
grid-column: 5/6;
}
.container1 .list .navbar_anchor{
    text-decoration: none;
}
.container1 .list button{
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    width: 3rem;
    height: 1.5rem;
    border-radius: 10px;
    outline: none;
    padding: 3px 3px 3px 3px;
    
}